!!!
%html{:manifest => "application.manifest"}
  %head
    %meta{:charset => "utf-8"}
    %title Bicing
    %script{:src => "/javascripts/sencha-touch.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/sencha-touch.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    %style{:type => "text/css"}
      :sass
        .x-list .x-list-item
          .x-list-item-body .distance
            display: block
            font-size: .7em
            color: #444
          &.x-item-selected .x-list-item-body .distance
            color: #eee

        .placemark
          float: left

        .seats
          float: right
          text-align: right
          margin-right: 1em

          span
            display: block



  %body